#root {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}


/* Articles List */

.article-list-item {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 40px;
}

.article-list-item img {
  width: 100%;
  border-radius: 5px;
}

.article-list-item h2 {
  font-size: 1rem;
}

.article-list-item a h2 {
  color: white;
  transition: 0.5s;
}
.article-list-item a h2:hover {
  color: rgb(31, 221, 104);
  transition: 0.5s;
}

.meta {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 10px;
  border:solid 2px rgb(31, 221, 104);
  border-radius: 5px;
}

.date {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: dashed 2px rgb(31, 221, 104);
}

/* Read Article */

.read-article {
  max-width: fit-content;
}

.read-article p {
  text-align: left;
}

.read-article img {
  border-radius: 5px;
  margin: 20px auto;
  max-width: 100%;

}

/* Comment Section */

.comments-list {
  text-align: left;
  margin: 50px auto;
}

.comment-card {
  margin: 50px 0 0 0;
  text-align: left;
  border-top: 1px solid rgb(31, 221, 104);
}

.add-comment-form textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px rgb(31, 221, 104);
  box-sizing: border-box;
}

.delete-button {
  background-color: brown;
  color: white;
  transition: 0.5s;
  margin-top: 20px;
  border: none;
}

.delete-button:hover {
  background-color: lightpink;
  color: #242424;
  transition: 0.5s;
}

.vote-button {
  margin: 20px;
}

/* Topics */

.topics-container {
  cursor: pointer;
}

.topics-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  box-sizing: border-box;
  align-items: center;
}

.topic-card {
  padding: 10px;
  border: inset 8px rgb(31, 221, 104);
  border-radius:  5px;
  transition: 0.5s;
}

.topic-card h3 {
  margin-top: 0;
}

.topic-card:hover {
  border: inset 8px rgb(40, 103, 64);
  transition: 0.5s;
}

.new-topic-container {
  margin: 50px 0;
  text-align: left;
}
.new-topic-container label {
  font-size: 0.8rem;
  border-left: solid 3px rgb(31, 221, 104);
  padding-left: 10px;
}
.new-topic-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
}

/* Login */

.login-container input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  text-align: center;
}

/* Profile */

.profile-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items:center;
  padding: 30px;
  gap: 50px;
  max-width: 700px;
  border: solid 2px rgb(31, 221, 104);
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
  margin: 50px 0 100px 0;
}

.profile-container img {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.profile-container h3 .profile-container p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 30px 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-container h3 {
  border-bottom: dashed 1px rgb(31, 221, 104);
}

.profile-detail {
  max-width: 100%;
}


/* Sort  */

.sort-container {
  align-items: center;
  padding: 10px;
  /* display: grid;
  grid-template-columns: auto auto auto auto auto; */
  margin: 30px;
}

.sort-container button, .sort-container button, .sort-container h3 {
  font-size: 0.7rem;
  margin: 5px;
  display: inline-block;

}




/* Errors and Alerts */

.error-message {
  display: inline-block;
  margin: 20px auto;
  background-color: lightpink;
  color: brown;
  padding: 10px;
  border: brown solid 2px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.note {
  font-size: 0.8rem;
  color: grey;
  font-style: italic;
}

.four-oh-four-container {
  box-sizing: border-box;
  padding: 20px;
}

.four-oh-four-container img {
  border-radius: 5px;
  max-width: 100%;
}



/* desktop & tablet */

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .article-list-item {
    width: 700px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 50px;
    text-align: left;
  }

  .read-article, .comments-list {
    max-width: 700px;
    box-sizing: border-box;
    margin: auto;
  }

  .comments-list {
    margin-top: 50px ;
  }

  .topics-container {
    max-width: 500px;
  }

  .topics-grid {
    grid-template-columns: 50% 50%;
    gap: 40px;
  }

  .login-container, .four-oh-four-container {
    max-width: 500px;
  }

}
@media (prefers-color-scheme: light) {
  .article-list-item a h2 {
    color: rgb(16, 37, 66)
  }
  .article-list-item a h2:hover {
    color: #747bff;
  }

}
